ase>=3.21
dirsync
fasteners
h5py
hydra-core>=1.1.0
hydra-colorlog>=1.1.0
matplotlib
matscipy
numpy
omegaconf
progressbar33
protobuf==3.20.2
pymatgen
pytest
pytorch_lightning>=2.0.0
pyyaml
rich
scipy
setuptools
sympy
tensorboardX
torch
torch_ema
torchmetrics==1.0.1
tqdm

nbsphinx
sphinx==7.1.2
sphinx_rtd_theme
readthedocs-sphinx-search